@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  transition: background-color 0.3s ease, color 0.3s ease;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
